*fading: 0 
*.cursorColor:  #c6c8d1

*background: #111314
*foreground: #8F93A2
! black
*color0: #2C2F33
*color8: #4B5056
! red
*color1: #f56784
*color9: #d05162
! green
*color2: #91d689
*color10: #91d689
! yellow
*color3: #C4E88D
*color11: #C4E88D
! blue
*color4: #82AAFF
*color12: #82AAFF
! magenta
*color5: #C792EA
*color13: #C792EA
! cyan
*color6: #72c1e0
*color14: #72c1e0
! white
*color7: #8F93A2
*color15: #8F93A2

Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.dpi:        96.0
